.movieCard-col {
  margin-top: 10px;
}

.movie-card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.movie-img {
  padding: 5px;
}

.more-button {
  margin-top: 10px;
}
