.movie-card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 5px;
}

.movie-img {
  margin-top: 20px;
  width: 75%;
  border-radius: 5%;
  border: 2px solid #5bc0de;
}

.more-button {
  margin-top: 10px;
}
