.genre-view {
  margin: 30px;
}

.genre-card,
.genres-moreMovies {
  border: 2px solid;
  margin-top: 10px;
}

.genre-view-movies-flex {
  width: 50%;
  align-self: center;
}

@media all and (max-width: 768px) {
  .genre-view-movies-flex {
    width: 100%;
  }
}
