.genre-view {
  margin: 30px;
}

.genre-card,
.genres-moreMovies {
  border: 2px solid;
  margin-top: 10px;
}

@media all and (min-width: 768px) {
  .genre-view-movies-flex {
    display: flex;
  }
}
