.register-form {
  margin: 20px 200px;
  padding: 30px;
}

.register-header {
  text-align: center;
}

// same styling for the "Not Registered?" button in Login View
.swap-button {
  display: block;
  margin: 20px auto 0px;
}

@media all and (max-width: 925px) {
  .register-form {
    margin: 0px;
  }
}
