.profile-view {
  margin: 20px auto;
  text-align: center;
}

.profile-title {
  font-size: 30px;
  padding: 5px;
}

.remove-favorite,
.view-movie {
  margin: 0 10px;
}

.card-content {
  margin: 0 auto;
}
